     .head{
        font-size: 25px;
    }
    a:link{
        text-decoration: none;
    }
    a{
        color: rgb(0, 0, 0);
    }
    a:hover {
        text-decoration: none;
        color: black;
        }
    a:active {
        text-decoration: none;

        }
    a:visited{
        text-decoration: none;
        }
    .one{
        color: rgb(0, 80, 80);
        text-decoration:underline;
    }
    .contact{
        display: inline;
    }
    .us{
        padding-top: 20px;
    }
    .tsize{
        font-size: 20px;
    }
    .tsize{
        padding-left: 20px;
        font-size: 20px;
    }
    #rocketman{
        padding-left: 60px;
    }
    .services{
        font-size: 45px;
        text-decoration:underline;
        width: 100%;
        padding-top: 10px;
        margin-left: 60px;
        margin-bottom: 30px;
        color: rgb(0, 80, 80);

    }
    .text-services{
        color: rgb(0, 0, 0);
        font-size: 20px;
        margin-left: 50px;
        margin-top: 15px;
        margin-right: 30px;

    }
    .head-service{
        font-size: 30px;
        margin-left: 50px;

    }
    .service-txt{
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding-top: 455px;
        padding-left: 90px;
        text-decoration: underline;

    }
    .rs11{
        padding-left:20px;
        color: rgb(255, 255, 255);
    }
    .service-txt1{
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding-top: 390px;
        padding-left: 90px;
        text-decoration: underline;

    }
    .rs111{
        padding-left:20px;
        color: rgb(255, 255, 255);
    }

    #more-detail{
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding-left: 170px;
    }
    .service-image{
        width: 500px;
        height: 600px;
        background-image: url(pc1.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 60px;
        margin-left: 150px;
        display: block;
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 2px 2px 15px rgb(0, 36, 143);
        background-color: rgba(3, 3, 3, 0.63);
    }
    .service-image1{
        width: 500px;
        height: 550px;
        background-image: url(pc3.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -30px;
        margin-left: 800px;
        display: block;
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 2px 2px 15px rgb(241, 0, 0);
        background-color: rgba(3, 3, 3, 0.63);
    }
    .service-image2{
        width: 500px;
        height: 600px;
        background-image: url(pc4.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: -30px;
        margin-left: 150px;
        display: block;
        border: 1px solid rgb(0, 0, 0);
        box-shadow: 2px 2px 15px rgb(0, 36, 143);
        background-color: rgba(3, 3, 3, 0.63);
    }
 
    #links{
        text-align: start;
        width: 150px;
        height: 150px;
        margin-top: -200px;
        color: aliceblue;
        font-size: 20px;
        padding-left: 80px;
    }
    .links{
        color: aliceblue;
    }
    .links:hover {
        text-decoration: none;
        color: rgb(67, 86, 255);
        }
     .footer div{
        position: absolute;
        width: 150px;
        height: 20px;    
        top: 20px;       
        right: 50px;
        
    }
    .copy-right{
        flex-basis: 75%;
        text-align: end;
    }