
@import url(//fonts.googleapis.com/css?family=Lato:300:400);
* {

    margin: 0;
    
    padding: 0;
    
    box-sizing: border-box;

    }
    
    body {
    
    font-family: cursive;
    
    }
    
    a {
    
    text-decoration: none;
    
    }
    
    li {
    
    list-style: none;
    
    }
    .navbar {

        display: flex;
        
        align-items: center;
        
        justify-content: space-between;
        
        padding: 20px;
        
        background-color: rgb(27, 42, 46);
        
        color: #fff;
        
        }
        
        .nav-links a {
        
        color: #fff;
        
        }
        
        /* LOGO */
        
        .logo {
        
        font-size: 32px;
        
        }
        
        /* NAVBAR MENU */
        
        .menu {
        
        display: flex;
        
        gap: 1em;
        
        font-size: 18px;
        
        }
        
        .menu li:hover {
        
        background-color: #4c9e9e;
        
        border-radius: 5px;
        
        transition: 0.3s ease;
        
        }
        
        .menu li {
        
        padding: 5px 14px;
        
        }
        
        /* DROPDOWN MENU */
        
        .services {
        
        position: relative; 
        
        }
        
        .dropdown {
        
        background-color: rgb(79, 87, 92);
        
        padding: 1em 0;
        
        position: absolute; /*WITH RESPECT TO PARENT*/
        
        display: none;
        
        border-radius: 8px;
        
        top: 35px;
        
        }
        
        .dropdown li + li {
        
        margin-top: 10px;
        
        }
        
        .dropdown li {
        
        padding: 0.5em 1em;
        
        width: 8em;
        
        text-align: center;
        
        }


.skilltable{
    margin: 300px;
    margin-top: 40px;
    background-color: #3c006d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    display: flex;
    justify-content:flex-start;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .whatsapp1{
    width: 80px;
    height: 80px;
    background-image: url('whatsapp.png');  
    background-size:cover;
    margin-right: 5px; 
   }
   .insta1{
    width: 80px;
    height: 80px;
    background-image: url('insta.png');  
    background-size:contain;
    margin-right: 5px;
   }
   .linkdine1{
    width: 80px;
    height: 80px;
    background-image: url('linkdine.png');  
    background-size:contain;
    margin-right: 5px;
   }
   .skillsheader{
    font-size: 40px;
    font-family:cursive; 
    margin-top: 100px;
    margin-left: 45%;
    color: white;
    
   }
   